@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>This might be a partial view? When a user clicks on a specific product, it will display the product details here</h1>