@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ProductListViewModel
<h1>This will display all the products. and allow for filters </h1>

@foreach (Product p in Model.Products)
{
    <partial name="ProductSummary" model="p" />
}

<div page-model="@Model.PaginationInfo" page-action="ViewProducts" page-classes-enable="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>